body{
  font-size: 16px;
  line-height: 1.8;
  color: #999;
}

a{
  text-decoration: none;
}

.styled-bg-1{
  background-image: url(img/bg-1.jpg);
}
.styled-bg-2{
  background-image: url(img/bg-2.jpg);
}

.styled-bg-inner{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: #ddd;
  height: 100%;
  width: 100%;
}

.styled-bg{
  height: 500px;
  position: relative;
  z-index: 2;
  margin-left: -200px;
  margin-bottom: 100px;
}

.styled-bg::after{
  position: absolute;
  left: -30px;
  top: 30px;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #f4f4f4;
  z-index: -1;
}

.styled-bg::before{
  position: absolute;
  right: 30%;
  bottom: -65px;
  width: 3px;
  height: 100px;
  content: '';
  background-color: #c1a454;
}

h2.special-section-title{
  position: relative;
  background-color: #fff;
  margin-left: -200px;
  z-index: 3;
  font-size: 50px;
  padding: 30px 40px;
  margin-top: 40px;
  margin-bottom: 0;
  color: #000;
  text-transform: capitalize;
}

.right-side .styled-bg{
  margin-left: 0;
  margin-right: -200px;
}

.right-side .styled-bg::after{
  left: auto;
  right: -30px;
}

.right-side .styled-bg::before{
  left: 30%;
  right: auto;
}

.right-side h2.special-section-title{
  margin-left: 0;
  margin-right: -200px;
  text-align: right;
}