/* flaticon css */

/* @import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css') */


@font-face {
  font-family: "flaticon";
  src: url("webfonts/uicons-regular-rounded.eot");
  src: url("webfonts/uicons-regular-rounded.woff");
  src: url("webfonts/uicons-regular-rounded.woff2");
}

a{
  text-decoration: none;
}

body{
  background-color: #f5f6fa;
}

.promo-boxes-wrap{
  margin-left: -15px;
  overflow: hidden;
}

.single-promo-box{
  height: 350px;
  width: 50%;
  float: left;
  display: table;
  text-align: center;
  background-color: #fff;
}

.promo-box-tablecell{
  display: table-cell;
  vertical-align: middle;
  padding-top: 70px;
  transition: .3s;
}

.single-promo-box:nth-child(2){
  background-color: #DE9097;
  color: #fff;
}

.single-promo-box:nth-child(3){
  background-color: #77B4CE;
  color: #fff;
}

.single-promo-box:nth-child(2) h2::after,
.single-promo-box:nth-child(3) h2::after{
  background-color: #fff;
}

.single-promo-box:nth-child(4) h2::after{
  background-color: #7dbece;
}

.single-promo-box:nth-child(4) .promo-icon{
  color: #7dbece;
}

.single-promo-box:nth-child(2) .boxed-btn,
.single-promo-box:nth-child(3) .boxed-btn{
  color: #333;
  background-color: #fff;
}

.promo-icon{
  font-size: 50px;
  margin: 0;
}

.single-promo-box h2{
  font-size: 28px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.boxed-btn{
  background-color: #de9097;
  color: #fff;
  padding: 15px 30px;
  border-radius: 50px;
  display: inline-block;
}

.single-promo-box h2::after{
  position: absolute;
  left: 50%;
  height: 2px;
  width: 50px;
  margin-left: -25px;
  background-color: #DE9097;
  content: '';
  bottom: 0;
}

.single-promo-box .boxed-btn{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.single-promo-box:hover .promo-box-tablecell{
  padding-top: 0;
}

.single-promo-box:hover .boxed-btn{
  opacity: 1;
  visibility: visible;
}

.right-side-content{
  padding: 150px 50px;
}

.section-title h3 i{
  color: #7BBACF;
}