a{
  text-decoration: none;
}

.section-absolute-bg{
  background-image: url(img/bg-1.jpg);
}

.absolute-bg-2{
  background-image: url(img/bg-2.jpg);
}

.section-padding{
  background-color: #222931;
  color: #7B7470;
  line-height: 1.7;
  font-size: 13px;
  position: relative;
  z-index: 1;
  padding: 80px 0;
}

h3{
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

.bordered-btn{
  border: 1px solid #ddd;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}

.boxed-content{
  position: relative;
  padding-left: 40px;
  padding-right: 70px;
}

.boxed-content::before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  width: 2px;
  background-color: #3A4047;
  content: '';
}

.section-absolute-bg{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-size: cover;
  background-color: #ddd;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.absolute-bg-left .section-absolute-bg{
  right: auto;
  left: 0;
}

.absolute-bg-left .boxed-content{
  margin-left: 80px;
  padding-right: 0;
}

.section-absolute-bg::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  content: '';
  z-index: -1;
  opacity: .5;
}