h1,h2,h3,h4,h5,h6{
  color: #4c4b8a;
  font-weight: 400;
}

h3{
  font-size: 22px;
  margin-bottom: 25px;
}

body{
  color: #979797;
  font-size: 15px;
  line-height: 1.8; 
}

.section-title{
  text-align: center;
  margin-bottom: 130px;
}

.features-wrap{
  position: relative;
  z-index: 1;
  padding-bottom: 130px;
}

img.hand-absolute{
  position: absolute;
  right: -100px;
  bottom: 0;
}

.features-area{
  padding-top: 100px;
}